//- page-a.pug
extends base.pug

block style 
    style 
        include ../static/projectideas.css
        include ../static/about.css

block content
  section 
        div#About
            h1 About Our Website 
            p Hello everone I am Aditya Kalane founder and CEO of the ProjectIdeas.com we are here to allow this generation top coders and Web developers to Upgrade their skill and to make the creative website but here's the question is from where to get these revolutionary ideas we are here to solve these question and give you a best answer therefore developed the websites or you can call it a platform called ProjectIdeas it will allow the user to share their creative ideas on ProjectIdeas and One Indiviual who doesn't have idea it will take other's inspiration.

            p#para Thank you! 
    
        

