//- layout.pug
doctype html
html
  head
    title ProjectIdeas Website
    block style
  body
    section#navbar 
          nav 
            ul 
              li #[a(href="/") Home]
              li #[a(href="about") About Us]
              li #[a(href="contact") Contact]
              li #[a(href="services") Services]
    block content
    