extends base.pug

block style
    style 
        include ../static/projectideas.css
        include ../static/contact.css
block content 
    div#container
     h1 Contact Form 
     form(action="/contact", method="post")
        input(type="text" name="name" class="myinput" placeholder="Enter Your Name")
        input(type="phone" name= "phone" placeholder="Enter Your Phone Number" class="myinput")
        input(type="email" name="email" class="myinput" placeholder="Enter Your Email Id")
        input(type="text" name="address" class="myinput" placeholder="Enter Your Address")
        input(type="text" name="desc" class="myinput" placeholder="Enter Your Concern")
        div#btn
          button
              |Submit
          button(type="reset") 
              |Reset