//- page-a.pug
extends base.pug

block style 
    style 
        include ../static/projectideas.css
        include ../static/about.css

block content
  section 
            div#home
                div#heading
                    h1 Welcome to ProjectIdeas Website.
            div#btn 
                button#btn1 Get Started
                button#btn2 Log In