extends base.pug

block style 
    style 
        include ../static/projectideas.css
        include ../static/services.css
    
block content 
    section#flex
        div.flexBox
            h2 Two Columns Left Side
            p.p The pain itself is a lot of pain, but the main reason is the pain. For long time eros needs to
                be the biggest eros, so that the course is a semblance of investment. Until the sad hatred of the arrows
                at the main. No soccer coach receives. But the lion should be willing to be happy in the end of the
                tour.
            p.p At least there was a lot of pain and pain. Cras non venenatis orci, sed tincidunt massa. The
                film of the players selected, the author of the eu members at, the tough patches of the football. But
                the great vengeance of life, the fear in the flats.
        div.flexBox
            h2 Two Columns Right Side
            p.p The pain itself is a lot of pain, but the main reason is the pain. For long time eros needs to
                be the biggest eros, so that the course is a semblance of investment. Until the sad hatred of the arrows
                at the main. No soccer coach receives. But the lion should be willing to be happy in the end of the
                tour.
            p.p At least there was a lot of pain and pain. Cras non venenatis orci, sed tincidunt massa. The
                film of the players selected, the author of the eu members at, the tough patches of the football. But
                the great vengeance of life, the fear in the flats.