@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');
/* CSS reset */
*{
    margin: 0;
    padding: 0;
}
/* navbar */
#navbar{
    background-color: #ff6cc4;

}
#navbar nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    list-style: none;
    margin: 0px 40px;
    padding: 21px 13px;
   
}
#navbar ul li a{
    text-decoration:none;
    font-size: 24px;
    margin: 0px 15px;
    padding: 6px 12px;
    color: white;
    border: 1px solid white;

}

/* home */
#home{
    content: "";
    position: absolute;
    background: url('../static/bg\ \(2\).jpg')no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#heading h1{
    font-size: 5rem;
    position: relative;
    top: 70px;
    left: 100px;
    width: 40%;
    color: white;
    font-family: 'Roboto', sans-serif;
}
/* buttons */
#btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    top:430px;
}
#btn1{
    font-size: 21px;
    background-color: #ff6cc4;
    border: none;
    outline: none;
    color: white;
    padding: 10px 20px;
    margin: 0px 10px;
    border-radius: 5px;
}
#btn2{
    font-size: 21px;
    background-color: #ff6cc400;
    outline: none;
    border: 2px solid white;
    color: white;
    padding: 8px 20px;
    margin: 0px 10px;
    border-radius: 5px;

}
